body {
	font-family: 'Oxygen', sans-serif;
	background-color: #493829;
}

p{
	color: white;
}

#title2 {
	font-family: 'Audiowide', cursive;
	font-size: 50px;
	text-align: center;
	display: block;
	color: #BDD09F;
}

#navi {
	font-family: 'Audiowide', cursive;
	font-size: 50px;
	display: inline;
	color: #BDD09F;
	float: left;
	padding: 10px;
	text-align: center;
}

#par {
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	color: white;
}

#mainimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#header{
	font-family: 'Audiowide', cursive;
	text-align: center;
	color: #AEADB8;
}

#footer{
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 60%;
	margin: auto 20% auto 20%;
}

a {
	color: #AEADB8;
	text-decoration: none;
}

a:visited {
	color: #AEADB8;
	text-decoration: none;
}

#returner {
	display: inline-block;
	float: left;
	width: 50%;
	position: relative;
	text-align: center;
}

#new {
	background-color: clear;
	display: inline-block;
	width: 50%;
  	float: right;
  	clear: right;
  	text-align: center;
}

#new label {
	color: white;
	font-size: 105%;
	width: 25%;
    float: left;
    text-align: right;
    margin: 0 auto 1% 20%;
}

#returner div {
	color: white;
	width: 25%;
    float: left;
    text-align: right;
    margin: 0 auto 1% 20%;
}

#new input {
	width: 25%;
    margin-left: 10px;
    float: right;
    margin: 0 20% 1% auto;
}

#returner input {
	width: 25%;
    margin-left: 10px;
    float: right;
    margin: 0 20% 1% auto;
}

.submit{
	background-color: #BDD09F;
	border-color: #BDD09F;
	width: 65px;
	text-align: center;
	float: right;
	margin-top: 10%;
}

.clearfix{
	overflow: auto
}

.ham{
	float: left;
	height: auto;
	width: 100px;
}

.baddecoy{
	float: left;
	height: auto;
	width: 100px;
}

.owlgirl{
	float: left;
	height: auto;
	width: 100px;
}



