body {
	font-family: 'Oxygen', sans-serif;
	background-color: #BDD09F;
	
}
ul {
	list-style-type: none;
}

p{
	color: #493829;
}

h3 {
	color: #493829;
}

hr {
	color: #493829;
	border-color: #493829;
}

#title2 {
	font-family: 'Audiowide', cursive;
	font-size: 50px;
	text-align: center;
	display: block;
	color: #493829;
}

#navi {
	font-family: 'Audiowide';
	font-size: 200%;
	color: #BDD09F;
	float: left;
	text-align: center;
	width: 100%;
}

#navi li {
	margin: auto 1% auto 1%;
	float: left;
	text-style: none;
}

#par {
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	color: #493829;
}

#mainimg {
	width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#header{
	font-family: 'Audiowide', cursive;
	text-align: center;
	color: #AEADB8;
}

#footer{
	color: #493829;
	text-align: center;
	position: fixed;
	width: 60%;
	margin: auto 20% auto 20%;
}

a {
	color: #AEADB8;
	text-decoration: none;
}

a:visited {
	color: #AEADB8;
	text-decoration: none;
}

#returner {
	display: inline-block;
	float: left;
	width: 50%;
	position: relative;
	text-align: center;
}

#new {
	display: inline-block;
	width: 50%;
  	float: right;
  	clear: right;
  	text-align: center;
}

#new label {
	color: #493829;
	font-size: 105%;
	width: 25%;
    float: left;
    text-align: right;
    margin: 0 auto 1% 20%;
}

#returner label {
	color: #493829;
	width: 25%;
    float: left;
    text-align: right;
    margin: 0 auto 1% 18%;
}

#new input {
	width: 25%;
    margin-left: 10px;
    float: right;
    margin: 0 20% 1% auto;
}

#returner input {
	width: 25%;
    margin-left: 10px;
    float: right;
    margin: 0 20% 1% auto;
}

.submit{
	background-color: #493829;
	border-color: #493829;
	color: white;
	width: 65px;
	text-align: center;
	float: right;
	margin-top: 20%;
}

.bottomBox {
	margin-bottom: 20%;
}

.clearfix{
	overflow: auto
}

.ham{
	float: left;
	height: auto;
	width: 100px;
}

.baddecoy{
	float: left;
	height: auto;
	width: 100px;
}

.owlgirl{
	float: left;
	height: auto;
	width: 100px;
}

tr {
	background: #493829;
	color: white;
	font-weight:bold;
}

td {
	border: 10px;
	padding: 10px;
	text-align: left;
}

table {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

tr:hover {
	background-color: #816C5B;
}

.shop
{
	background-color: #BDD09F;
	border-color: #493829;
	color: #493829;
	width: 65px;
	text-align: center;
	float: right;
	margin-top: 20%;
}
