body {
	font-family: 'Oxygen', sans-serif;
	background-color: #BDD09F;
	text-align: center;
}

.body-content {
	width: 90%;
	margin: auto 5% auto 5%;
}

ul {
	list-style-type: none;
}

p{
	color: #493829;
}

h2, h3 {
	color: #493829;
}

hr {
	color: #493829;
	border-color: #493829;
}

#title2 {
	font-family: 'Audiowide', cursive;
	font-size: 50px;
	text-align: center;
	display: block;
	color: #493829;
}

#title1 {
	font-family: 'Audiowide', cursive;
	font-size: 50px;
	text-align: center;
	display: block;
	color: #493829;
}

#navi {
	font-family: 'Audiowide';
	font-size: 175%;
	float: left;
	text-align: center;
	width: 100%;
}

#navi li {
	margin: auto 1% auto 1%;
	float: left;
	text-style: none;
}

.par {
	width: 100%;
	font-family: 'Oxygen', sans-serif;
	font-size: 125%;
	text-align: center;
	color: #493829;
	margin: 2% auto 2% auto;
}

#mainimg {
	width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#header{
	font-family: 'Audiowide', cursive;
	text-align: center;
	color: #AEADB8;
}

#footer{
	color: #493829;
	text-align: center;
	position: absolute;
	width: 60%;
	margin: 3% 20% auto 20%;
}

a {
	color: #4E6172;
	text-decoration: none;
}

a:hover {
	color: #AEADB8;
	text-decoration: none;
}

#returner {
	display: inline-block;
	float: left;
	width: 50%;
	position: relative;
	text-align: center;
}

#new {
	display: inline-block;
	width: 50%;
  	float: right;
  	clear: right;
  	text-align: center;
}

#new label {
	color: #493829;
	font-size: 105%;
	width: 25%;
    float: left;
    text-align: right;
    margin: 0 auto 1% 20%;
}

#returner label {
	color: #493829;
	width: 25%;
    float: left;
    text-align: right;
    margin: 0 auto 1% 18%;
}

#new input {
	width: 25%;
    margin-left: 10px;
    float: right;
    margin: 0 20% 1% auto;
}

#returner input {
	width: 25%;
    margin-left: 10px;
    float: right;
    margin: 0 20% 1% auto;
}

.submit{
	background-color: #493829;
	border-color: #493829;
	color: white;
	width: 65px;
	text-align: center;
	float: right;
	margin-top: 20%;
}

.bottomBox {
	margin-bottom: 20%;
}

.prodImg {
	float: left;
	height: 200px;
	width: 300px;
}

.col-1 {
	width: 60%;
	background-color: red;
}

.col-2 {
	width: 80%;
	background-color: blue;
}

.ham{
	float: left;
	height: auto;
	width: 100px;
}

.baddecoy{
	float: left;
	height: auto;
	width: 100px;
}

.owlgirl{
	float: left;
	height: auto;
	width: 100px;
}

.clearfix {
	display:none;
}

tr {
	background: #493829;
	color: white;
	font-weight:bold;
}

td {
	border: 10px;
	padding: 10px;
	text-align: left;
}

table {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

tr:hover {
	background-color: #816C5B;
}

.shop
{
	background-color: #BDD09F;
	border-color: #493829;
	color: #493829;
	width: 65px;
	text-align: center;
	float: right;
	margin-top: 20%;
}
